

  h1 {
      font-family:  Helvetica, Arial, sans-serif;
      letter-spacing:3pt;
      line-height: 140%;
      color: #333;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.4em;
    }

    .button-name {

      font-family:  Helvetica, Arial, sans-serif;
      letter-spacing:1pt;
      line-height: 120%;
      color: #333;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.8em;
      height: 50px;
      float: left;
      padding: 15px;
      width: 150px;
    }

    .container {

      width: 90%;
      margin: 0 auto;
    }
    .controls {

      width: 500px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 0;
      height: 200px;
      background-color: #EBEBEB;
      border: 1px solid #D9D9D9;
    }

    .start{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 25px;
        left: 25px;
        background-color: #F75B07;


    }
    .start:hover {

      background-color: #F75B97;
    }
    .player0-c {
      width: 200px;
      height: 50px;
    }

      #ul1 {
      margin-top: 20px;
      padding: 40px;
      font-size: 2em;
      font-family: helvetica;


    }

    #ul2 {
      margin-top: 20px;
      padding: 40px;
      font-size: 2em;
      font-family: helvetica;


    }
    .player1-c {

      width: 200px;
      height: 400px;
    }
    .player3-c {

      height: 400px;
      width: 550px;
    }

    .arduino-buttons {

      width: 50px;
      height: 50px;
      float: left;
      margin: 20px;
      border: 1px solid #d8d8d8;
    }

    .big {
      width: 200px;
      height: 150px;
      margin: 30px;
    }

    .toggle {

      width: 90px;
      height: 150px;
      margin: 25px;

    }
    .button-off {

      background-color: #F75B07;
      border: none;

      
    }
    .button-on {

      background-color: #16F79A;
      border: none;
    }

    .button-med {

      background-color: #FACF43;
      border: none;
    }

.arduino-rotar {

    border-radius: 50px;
}
.arduino-ir{
  border-radius: 10px;
  margin: 24px;
  background-color: #9757BD;
}
#ir1 {


}
#ir2 {


}
.arduino-slider{

  width: 510px;
  height: 75px;
}
.rotar-num {

  padding: 20px;
  font-family:  Helvetica, Arial, sans-serif;
  letter-spacing:3pt;
  line-height: 140%;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;

}