/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

@font-face {
    font-family: 'liberatorregular';
    src: url('/fonts/liberator-webfont.eot') format('eot');
    src: url('/fonts/liberator-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/liberator-webfont.woff') format('woff'),
         url('/fonts/liberator-webfont.ttf') format('truetype'),
         url('/fonts/liberator-webfont.svg#liberatorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


$text-r: #e01e25;
$text-y: #f9c535;

    body {
  
        font-family: 'liberatorregular', Helvetica, Arial, sans-serif;

        color: $text-r;
    }

  h1 {
      letter-spacing:2pt;
      line-height: 120%;
      text-transform: uppercase;
      text-align: center;
      font-size: 1em;
      padding-top: 10px;
    }

    p {
        text-transform: uppercase;
        letter-spacing: 2pt;
        text-align: center;
        text-decoration: none;
    }
    .container {

      width: 90%;
      margin: 0 auto;
    }
    .controls {

      width: 500px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 0;
      height: 270px;
      background-color: #EBEBEB;
      border: 1px solid #D9D9D9;
    }

    .button-name {

    display: block;

      font-family:  Helvetica, Arial, sans-serif;
      letter-spacing:1pt;
      line-height: 130%;
      color: #333;
      
      font-size: 0.6em;
      width: 90px;

      padding-top: 5px;
      text-transform: uppercase;
      text-align: center;

     

    }
     .rrS {

        width: 130px;
        padding-left: 30px;
      }
    
    .input {

        float: left;
        width: 100px;
    }
    .input-s {

        float: left;
        width: 80px;
        height: 70px;
    }

    .top-inputs {

        height: 110px;
        float: left;
    }
    .bottom-inputs {
        float: left;
        height: 100px;
        padding-top: 20px;
    }
    .input-small-rr {
        width: 180px;
        height: 70px;

    }
    .input-slider-l {

        width: 340px;
    }
    .input-slider-s {

        height: 200px;
        width: 65px;
        padding-right: 15px;
    }
    .start{
        height: 30px;
        width: 100px;
        position: absolute;
        bottom: 25px;
        left: 25px;
        background-color: #ccc;
        color: #999;
        font-family: helvetica;
        text-transform: uppercase;
        letter-spacing: 2pt;
        text-align: center;
        padding: 5px;
        padding-top: 20px;
         @include transition-property(all);
        @include transition-duration(450ms);
    }
    .start:hover {

      background-color: #F75B97;
    }

    .stop {

        left: 150px;
    }

    #ul1, 
    #ul2 {

        margin-top: 20px;
        padding: 40px;
        font-size: 2em;
        font-family: helvetica;

    }


    .arduino-buttons {

        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;

        @include transition-property(all);
        @include transition-duration(150ms);
    }


    .rrBig {

        width: 70px;
        height: 85px;
        background: url(/img/redRocker-off.png);



    }
    .greenRocker {
        width: 70px;
        height: 85px;
        background: url(/img/greenRocker-off.png);

    }
    .toggle {

        width: 40px;
        height: 85px;
        background: url(/img/toggle-off.png);

    }
    .b-toggle {
      width: 80px;
      height: 40px;
      background: url(/img/black-toggle-off.png);
    }
    .rrSmall {

        width: 90px;
        height: 35px;
        background: url(/img/smallRedRocker-off.png);
        


    }
    .rrVertical {
      width: 35px;
      height: 80px;
      background:  url(/img/smallRedRockerVertical-off.png);

    }
    .rrRound {

        width: 60px;
        height: 60px;
    }
    .roundRocker {
      margin-top: 60px;
    }
    .rotary {

        width: 50px;
        height: 50px;
        
    }
    .b-rotary {
      width: 65px;
      height: 65px;
      background: url(/img/black-rotary-1.png);
    }
    .silver-rotary {

        width: 65px;
        height: 65px;
        background: url(/img/silver-Rotary-7.png);
    }
    .red-rotary {
      background: url(/img/redRotary-1.png);
    }
    .rotary-num {

        width: 50px;
        font-size: 1.2em;
        float: left;
        text-align: center;
        padding-top: 15px;
    }

    .button-off {

      background-color: #F75B07;
      border: none;

      
    }
    .button-on {

      background-color: #16F79A;
      border: none;
    }

    .button-val-2 {

      background-color: #faaf43; 
      border: none;
    }
    .button-val-3{
        background-color: #f7e12c; //FACF43
      border: none;
    }

    
    .arduino-ir{

        border-radius: 10px;
        margin: 24px;
        background-color: #9757BD;

    }
    .sliderLarge{

        width: 300px;
        height: 50px;

        background: url(/img/largeSlider-1.png);
    }
    .sliderSmall {

        width: 50px;
        height: 200px;
        background: url(/img/smallSlider-1.png);

    }

    .f-right {

        float: right;
    }
    .clear {

        clear: both;
    }

    .clear-left {

        clear: left;
    }

    .message {

      height: 30px;
      padding: 10px;
    }
    .timer {

      display: block;
      width: 100%;
      height: 8px;
      background-color: #e9a821;
    }

    .health {

        width: 100%;
        height: 20px;
        background-color: #16F79A;

    }
    .ready {

        height: 20px;
        width: 100px;
        margin: 0 auto;
        background-color: #ccc;
        
        padding: 20px 30px;
        margin-top: 200px;

        @include border-radius(7px);
        @include transition-property(all);
        @include transition-duration(450ms);

        
        font-family: helvetica;
        text-transform: uppercase;
        letter-spacing: 2pt;
        text-align: center;

        color: #999;
        text-decoration: none;

    }
    .ready:hover {

        background-color: #F75B97;
    }
    a:link {

        text-decoration: none;


    }

    .level,
    .end-level{
     
        width: 480px;
        height: 58px;
        background-color: #333;
        position: absolute;
     
        left: -9999px;
        top: -9999px;

        p {
            padding-top: 30px;
        }
    }
    #count-down {

        padding: 20px;
    }

    .connection-name {

        padding-top: 40px;
    }

    .warp-button,
    .start-error {

        margin-top: 30px;
        padding: 10px;
        margin: 0 auto;
        height: 20px;
        color: $text-r;
    }

    .start-error {

        width: 240px;
    }
    .starting-screen,
    .connection-screen {
        
        width: 480px;
        height: 320px;
        background-image: url(/img/bg-honey.png);
        position: absolute;
        left: -9999px;
        top: -9999px;

        .push-line {

            margin-top: 50px;
        }
        .starting-messages {

            padding: 20px 0 20px 0;

            p {

                padding: 20px 50px;
                color: $text-r;
                line-height: 160%;

            }
        }
        .controllers {

            height: 20px;
            p {

                font-size: 0.8em;
                padding: 5px 50px;
                color: #a1ed1d;
                line-height: 160%;

            }
        }

    }
    .show {

        top: 0px;
        left: 0px;
    }
    .end-game {

        p {
            padding-top: 10px; 
        }
    }
    .smaller-name {

        width: 65px;
    }

    /*------------------- Re-Design ------------*/

    .pannel {

      width: 480px;
      height: 320px;
      margin: 0 auto;
      background-image: url(/img/bg-honey.png);
      color: #f9c535;

      a {
        color: #f9c535;
        letter-spacing: 1px;
      }

      .b-y-line {
        height: 5px;
        background: url(/img/line.png)
      }
      .blck-incoming {

        background-color: #000000;
      }
      .message {
        letter-spacing: 2px;
        color: #e01e25;
        background-color: #000000;
        height: 20px;

        h1 {

          color: #e01e25;
        }
      }
    }


 .link-home {

        display: block;
        margin: 0 auto;
        margin-top: 40px;
        padding: 10px;
        width: 170px;
        height: 20px;
        color: $text-r;
        background: #333;
        text-transform: uppercase;

    }
.p2-bottom {

    padding-top: 50px;
}

.red-rotary-name {

    width: 80px;
}
.small-slider-name {

    width: 80;
}

.push-right {

    padding-left: 10px;
}