/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transition";
@import "compass/css3/border-radius";

    body {

        font-family:  Helvetica, Arial, sans-serif;
    }

  h1 {
      font-family:  Helvetica, Arial, sans-serif;
      letter-spacing:2pt;
      line-height: 120%;
      color: #333;
      text-transform: uppercase;
      text-align: center;
      font-size: 1em;
      padding-top: 10px;
    }
    p {
      font-family: helvetica;
        text-transform: uppercase;
        letter-spacing: 2pt;
        text-align: center;

        color: #999;
        text-decoration: none;
    }
    .container {

      width: 90%;
      margin: 0 auto;
    }
    .controls {

      width: 500px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 0;
      height: 270px;
      background-color: #EBEBEB;
      border: 1px solid #D9D9D9;
    }

    .button-name {

    display: block;

      font-family:  Helvetica, Arial, sans-serif;
      letter-spacing:1pt;
      line-height: 120%;
      color: #333;
      
      font-size: 0.6em;
      width: 100px;

      padding-top: 10px;
      text-transform: uppercase;
      text-align: center;

     

    }
     .rrS {

        width: 130px;
        padding-left: 30px;
      }
    
    .input {

        float: left;
        width: 100px;
    }

    .top-inputs {

        height: 100px;
        float: left;
    }
    .bottom-inputs {
        float: left;
        height: 100px;
        padding-top: 20px;
    }
    .input-small-rr {
        width: 180px;

    }
    .input-slider-l {

        width: 340px;
    }
    .input-slider-s {

        height: 200px;
    }
    .start{
        height: 30px;
        width: 100px;
        position: absolute;
        bottom: 25px;
        left: 25px;
        background-color: #ccc;
        color: #999;
        font-family: helvetica;
        text-transform: uppercase;
        letter-spacing: 2pt;
        text-align: center;
        padding: 5px;
        padding-top: 20px;
         @include transition-property(all);
        @include transition-duration(450ms);
    }
    .start:hover {

      background-color: #F75B97;
    }

    .stop {

        left: 150px;
    }

    #ul1, 
    #ul2 {

        margin-top: 20px;
        padding: 40px;
        font-size: 2em;
        font-family: helvetica;

    }


    .arduino-buttons {

        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;

        @include transition-property(all);
        @include transition-duration(150ms);
    }


    .rrBig {

        width: 70px;
        height: 85px;
        background: url(/img/redRocker-off.png);



    }
    .greenRocker {
        width: 70px;
        height: 85px;
        background: url(/img/greenRocker-off.png);

    }
    .toggle {

        width: 40px;
        height: 85px;
        background: url(/img/toggle-off.png);

    }
    .rrSmall {

        width: 90px;
        height: 35px;
        background: url(/img/smallRedRocker-off.png);
        


    }
    .rrRound {

        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .rotary {

        width: 50px;
        height: 50px;
        //background: url(/img/redRotary-1.png);
    }
    .rotary-num {

        width: 50px;
        font-size: 1.2em;
        float: left;
        text-align: center;
        padding-top: 15px;
    }

    .button-off {

      background-color: #F75B07;
      border: none;

      
    }
    .button-on {

      background-color: #16F79A;
      border: none;
    }

    .button-val-2 {

      background-color: #faaf43; 
      border: none;
    }
    .button-val-3{
        background-color: #f7e12c; //FACF43
      border: none;
    }

    
    .arduino-ir{

        border-radius: 10px;
        margin: 24px;
        background-color: #9757BD;

    }
    .sliderLarge{

        width: 300px;
        height: 50px;

        background: url(/img/largeSlider-1.png);
    }
    .sliderSmall {

        width: 30px;
        height: 150px;
    }

    .f-right {

        float: right;
    }
    .clear {

        clear: both;
    }

    .clear-left {

        clear: left;
    }

    .message {

      height: 30px;
      padding: 10px;
    }
    .timer {

      display: block;
      width: 100%;
      height: 8px;
      background-color: #e9a821;
    }

    .health {

        width: 100%;
        height: 20px;
        background-color: #16F79A;

    }
    .ready {

        height: 20px;
        width: 100px;
        margin: 0 auto;
        background-color: #ccc;
        
        padding: 20px 30px;
        margin-top: 200px;

        @include border-radius(7px);
        @include transition-property(all);
        @include transition-duration(450ms);

        
        font-family: helvetica;
        text-transform: uppercase;
        letter-spacing: 2pt;
        text-align: center;

        color: #999;
        text-decoration: none;

    }
    .ready:hover {
        background-color: #F75B97;
    }
    a:link {

        text-decoration: none;


    }

    .level{
     
     width: 100%;
     height: 100px;
     background-color: #999;
      position: absolute;
     
     left: -9999px;
     top: -9999px;

     p {

      color: #333;
      padding-top: 30px;
     }

     #count-down {

      padding: 20px;
      font-size: 3em;
     }
    }
    .show-banner {

     top: 0px;
     left: 0px;
    }


    /*------------------- Re-Design ------------*/

    .pannel {

      width: 480px;
      height: 320px;
      margin: 0 auto;
      background-image: url(/img/bg-honey.png);
      color: #f9c535;

      a {

        color: #f9c535;
      }

      .b-y-line {
        height: 5px;
        background: url(/img/line.png)
      }
      .blck-incoming {

        background-color: #000000;
      }
      .message {
        color: #e01e25;
        background-color: #000000;
        height: 20px;

        h1 {

          color: #e01e25;
        }
      }
    }





